<p><%= link_to @event_participant.participant.participant_name, act_participant_url(@event_participant.participant) %>
<% if @is_new %>
  se přihlásil<%= "a" if !(@event_participant.male?()) %> na
<% else %>
  změnil<%= "a" if !(@event_participant.male?()) %> svoji přihlášku na
<% end %>
akci
<%= link_to @event.title, act_event_url(@event) %>.
</p>

Aktuální stav přihlášky:

<p>
  <% if @event_participant.org?() %>
    <% if @event_participant.male?() %>
      Organizátor
    <% else %>
      Organizátorka
    <% end %>
  <% else %>
    <% if @event_participant.male?() %>
      Účastník
    <% else %>
      Účastnice
    <% end %>
  <% end %>

  <% if @event_participant.status == 'yes' %>
    na akci <b>jede</b>.
  <% elsif @event_participant.status == 'maybe' %>
    <b>neví</b>, jestli chce na akci jet.
  <% elsif @event_participant.status == 'no' %>
    na akci <b>nejede</b>.
  <% else %>
    <b>stav nedefinován, kontaktuj Tondu!!!</b>
  <% end %>
</p>

<p>
  <% if @event_participant.note == "" %>
  <% if @event_participant.org?() %>
    <% if @event_participant.male?() %>
      Organizátor
    <% else %>
      Organizátorka
    <% end %>
  <% else %>
    <% if @event_participant.male?() %>
      Účastník
    <% else %>
      Účastnice
    <% end %>
  <% end %>
  neuvedl<%= "a" if !(@event_participant.male?()) %> ke své přihlášce žádné veřejné poznámky.
  <% else %>
    Poznámka: <%= @event_participant.note %>
  <% end %>
<p>

<% if @event.spec_place %>
  <p>
    <% if @event_participant.male?() %>
      Účastník
    <% else %>
      Účastnice
    <% end %>
    nastupuje v <b><%= @event_participant.place %></b>
  <p>
<% end %>

<% if @event.spec_participant %>
  <p>
    <% if @event_participant.participant_info == "" %>
      K
      <% if @event_participant.male?() %>
        účastníkovi
      <% else %>
        účastnici
      <% end %>
      neměl rodič žádné zvláštní připomínky.
    <% else %>
      Připomínky rodiče k
      <% if @event_participant.male?() %>
        účastníkovi
      <% else %>
        účastnici
      <% end %>
      : <%= @event_participant.participant_info %>
    <% end %>
  </p>
<% end %>

<% if @event.spec_mass %>
  <p>
    <% if @event_participant.male?() %>
      Účastník
    <% else %>
      Účastnice
    <% end %>
    na mši
    <% if @event_participant.mass %>
      <b>chce</b>.
    <% else %>
      <b>nechce</b>.
    <% end %>
  </p>
<% end %>

<p>
  Aktuální počet přihlášených účastníků je <b><%= @num_p_voted %></b>, z toho <b><%= @num_p_yes %></b> na akci pojede, <b><%= @num_p_no %></b> na akci nepojede a <b><%= @num_p_maybe %></b> zatím neví.
</p>

<p>
  Vedle toho se přihlásilo <b><%= @num_o_voted %></b> orgů, z toho <b><%= @num_o_yes %></b> na akci pojede, <b><%= @num_o_no %></b> na akci nepojede a <b><%= @num_o_maybe %></b> zatím neví.
</p>

Tvůj Tep
